//body
$bodyClr: #fff;

//text
$commonTextClr: #646464;
$headingClr: #212121;
$btnTextClr: #fff;
$navItemClr: #212121;
$navItemClrHover: #37806b;
$btnTextClrHover: #37806b;
$cardTextClr: #fff;

//section
$commonSectionClr: #fff;
$sectionClr: #e0e0e0;
$headerClr: #fff;
$footerClr: #e0e0e0;

//button
$sectionBtnClr: #37806b;
$headerBtnClr: #caa892;
$sectionBtnClrHover: #fff;
$borderClr: #37806b;
$leftBtnClr: #fff;
$rightBtnClr: #37806b;

//fonts
$headerFont: "Open Sans", sans-serif;
$headerBtnFont: "Open Sans", sans-serif;
$commonFonts: "Open Sans", sans-serif;
$footerFonts: "Open Sans", sans-serif;
$headingFonts: "Poppins", sans-serif;
$inputFonts: "Raleway", sans-serif;
$windowGreetingFonts: "Poppins", sans-serif;
$windowTextFonts: "Open Sans", sans-serif;

//input
$inputClr: #eeeeee;

//progressbar
$progressBarClr: #37806b;

//window
$windowClr: #fff;
$greetingDescrClr: #e30b5c;
$greatingClr: linear-gradient(
	-225deg,
	#ff00ff 0%,
	#44107a 29%,
	#ff1361 67%,
	#fff800 100%
);

//api
$weatherTextClr: #fff;